.inspector {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 1000px)  {
    .inspector {
        flex-direction: column;
    }
}

.none {
    font-size: 18px;
}

.header {
    margin: 0px 8px;
    height:100%;
    display: flex;
}