.selector {
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 12px;
}

button.button {
    padding: 0 12px;
    display:flex;
    border: solid 1px var(--mui-palette-grey-800);
    text-align: left;
    margin-right: 12px;
    height: 36px;
}

.button.selected {
    background-color:var(--mui-palette-primary-dark);
}

.button > .icon {
    padding-right: 8px;
}

.header {
    display: flex;
    padding-right: 16px;
}